<!DOCTYPE html>
<html>
    <head>
        <title>Villa Arzilla</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Calendario attività di Villa Arzilla</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Festa di inizio estate</a></h2>
            <p>Torneo provinciale di briscola a squadre! Ricchi premi per i primi tre classificati </p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Secondo avviso</a></h2>
            <p>Riunione circolo Amici delle piante grasse</p>
        </article>
    </body>
</html>